<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../index.css" rel="stylesheet" />
  <script src="../../js/games/orientation.js" type="module"></script>
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <title>Joc Orientare</title>
</head>
<body class="gray-bg">
  <div id="game-screen" class="white-bg">
    <a class="btn btn-warning" href="/pacient">Înapoi la jocuri</a>
    <h1>Joc de Orientare</h1>
    <div id="obtained-score" class="display-none"></div>
    <div id="game-level">
      <img id="image" class="attention-game-image mw-100 mb-3"/>
      <div id="options"></div>
      <button id="next-btn" class="btn btn-primary mt-3"> Continuă </button>
    </div>
  </div>
</body>
